/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    font-family: 'Inter', sans-serif;
}
body {
    width: 100%;
}
h1{
    font-weight: 700;
}
h3{
    font-weight: 500;
}
.navbar-collapse {
    padding-left: 50%;
}
.nav-item {
    padding-left: 9px;
}
.nav-link {
    font-weight: bold;
}
.nav-item .nav-link:hover {
    color: white;
    font-size: large;
}
#cta-button {
    background: orange;
    color: red;
    border: 1px solid;
    border-radius: 5px;
}
#cta-button .nav-link {
    color: white;
    padding: 5px;
}
.carousel-img {
    width: 100%;
    min-height: 720px;
}
.about{
    display: flex;
    flex-direction: column;
}

.mission {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}
.mission > * {
    flex: 1;
    flex-basis: 100%;
}
.vision {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/*footer*/
footer {
    width: 100%;
    display: block;
    text-align: center;
    background-color: yellow;
}
 footer > .footer {
     background-color: orange;
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     text-align: center;
     border-radius: 10px;
     padding: 1rem;
 }

footer > .footer > *{
    padding-top: 1em;
}

 .footer > *{
     flex-basis: 100%;
 }